<!DOCTYPE html>
<html>
<head>
	<title>Hello Client Monkey 5</title>
	<script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//static0.twilio.com/packages/quickstart/client.css">
	<script type="text/javascript">
	// Create the Client with a Capability Token
	Twilio.Device.setup("{{ token }}");

	// Let us know when the client is ready.
	Twilio.Device.ready(function (device) {
		$("#log").text("Client '{{ client_name }}' is ready");
	});

	// Report any errors on the screen
	Twilio.Device.error(function (error) {
		$("#log").text("Error: " + error.message);
	});

	Twilio.Device.connect(function (conn) {
		$("#log").text("Successfully established call");
	});

	// Log a message when a call disconnects
	Twilio.Device.disconnect(function (conn) {
		$("#log").text("Call ended");
	});

	// Listen for incoming connnections
	Twilio.Device.incoming(function (conn) {
		$("#log").text("Incoming connection from " + conn.parameters.From);
		// accept the incoming connection and start two-way audio
		conn.accept();
	})

	// How do I know who I'm calling??? -- previously connect took no parameters so probably there is some default message that gets returned when you call

	// Connect to Twilio when we call this function.
	function call() {
		// get the phone number to connect to
		params = {"PhoneNumber": $("#number").val()};
		Twilio.Device.connect(params);
	}

	// A function to end a connection to Twilio
	function hangup() {
		Twilio.Device.disconnectAll();
	}
	</script>
</head>
<body>

	<button class="call" onclick="call();">
		Call
	</button>

	<button class="hangup" onclick="hangup();">
		Hangup
	</button>

	<input type="text" id="number" name="number" placeholder="Enter a phone number to call">

	<div id="log">Loading pigeons...</div>

</body>
</html>